.title {
  margin-top: 100px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 200px;
}

.field {
  margin: 10px;
}

button {
  justify-content: flex-end;
  outline: none;
  font-size: 20px;
  background-color: RGBA(40, 44, 52, 1);
  color: white;
  cursor: pointer;
}

.drop-zone {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 200px;
  background-color: #f5f5f5;
  border-radius: 1px;
}

.drop-zone-text {
  max-width: 200px;
  text-align: center;
}
.wrap-preview {
  display: flex;
  width: 400px;
  flex-wrap: wrap-reverse;
}

.drop-zone-preview {
  width: 111px;
  height: 111px;
  margin: 10px;
  background-size: cover;
  background-position: center;
}

.submit-btn {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border: none;
  width: 400px;
}
.submit-btn:hover {
  background-color: RGBA(209, 84, 25, 0.5);
}
.submit-btn:active {
  background-color: RGBA(209, 84, 25, 1);
}

.create-form {
  display: flex;
}

.name {
  font-size: 17px;
}

input,
textarea {
  width: 200px;
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  outline-color: RGBA(209, 84, 25, 0.5);
}
textarea {
  height: 100px;
}

.field-drop {
  margin: 40px;
}
